<div class="container" id="gallery"></div>
<span class="loader"></span>
<div class="slider"></div>
<div class="pagination-pages">
  <button class="pagination-page-button left">
    <svg class="arrow-icon">
      <use href="./images/pagination/pagination.svg#pag-btn-left"></use>
    </svg>
  </button>
  <div class="pagination-container"></div>
  <button class="pagination-page-button right">
    <svg class="arrow-icon">
      <use href="./images/pagination/pagination.svg#pag-btn-right"></use>
    </svg>
  </button>
</div>
