<header class="container home-header-container">
  <nav class="home-header-nav">
    <div class="home-header-nav-wrapper">
      <div class="home-header-logo-wrapper">
        <a class="home-header-logo-link" href="#"> <!--podłączyć link-->
          <svg class="home-header-logo-svg" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <use href="./images/header-images/icons.svg#icons-film">
            </use>
          </svg>
        </a>
        <p class="home-header-logo-par">Filmoteka</p>
      </div>
      <!-- <button type="button" title="home" class="home-btn">HOME</button>-->     <!--moim zdaniem to są linki, a nie buttony, tak jak było w przygotowanym htmlu :) -->
      <!-- <button type="button" title="my-library" class="myLibrary-btn">MY LIBRARY</button> -->
      <ul class="home-header-navlist">
        <li><a class="home-header-navlist-link bar-transition" href="#">Home</a></li> <!--podłączyć link -->
        <li><a class="home-header-navlist-link" href="#">My library</a></li> <!--podłączyć link -->
      </ul>
    </div>
  </nav>
  <div class="search-form-wrapper">
    <form class="search-form" id="search-form">
      <input class="search-input" type="text" name="searchQuery" autocomplete="off" placeholder="Movie search" />
      <button title="form-submit" class="submit-btn" type="submit">
        <svg class="submit-btn-logo-svg" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
          <use href="./images/header-images/icons.svg#icons-search-2">
          </use>
        </svg>
      </button>
    </form>
  </div>
  <p class="errorDisplay">Search result not successful. Enter the correct movie name and</p>
</header>

