<div class="container" id="library-gallery"></div>
<span class="loader"></span>
<div class="slider">
  <div class="pagination-container">
    <!-- przycisk strzałka w lewo -->
    <button title="pagination-btn-left" class="pagination-page-button left">
      <svg class="arrow-icon">
        <use
          href="./images/pagination/pagination.svg#icon-arrow-left2"
          width="16px"
          height="16px"
        ></use>
      </svg>
    </button>
    <div class="pagination-slider-buttons-container">
      <!-- innerHTML dynamicznie dodane kolejne buttony -->
    </div>
    <!-- przycisk strzałka w prawo -->
    <button title="pagination-btn-right" class="pagination-page-button right">
      <svg class="arrow-icon">
        <use
          href="./images/pagination/pagination.svg#icon-arrow-right2"
          width="16px"
          height="16px"
        ></use>
      </svg>
    </button>
  </div>
</div>
