/* Stylizacja karty filmowej */
.movie-card-template {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* Układ siatki (grid) */
.container#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Stylizacja obrazu filmowego */
.movie-image img {
  max-width: 100%;
  height: auto;
}
