/* Stylizacja karty filmowej */
/* .movie-card-template {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
} */

/* Układ siatki (grid) */
.container#gallery {
  display: grid;
  background-color: #fff;
  margin: 0 auto;
}

/* Stylizacja obrazu filmowego */
/* .movie-image img {
  max-width: 100%;
  height: auto;
} */

/* mobile */
@media (max-width: 768px) {
  .container#gallery {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
  }

  .movie-card-template {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
  }

  .movie-poster {
    width: 280px;
    height: 402px;
  }

  .empty-button {
    display: none;
  }

  .movie-title {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 8px;
  }

  .movie-details {
    color: rgb(255, 107, 8);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
  }

  .vote-average {
    height: 16px;
    width: 36px;
    background-color: rgb(255, 107, 1);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 2px 8px 2px 8px;
    margin-left: 8px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1280px) {
  .container#gallery {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    padding-top: 60px;
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  .movie-card-template {
    width: 336px;
    height: auto;
    margin-bottom: 32px;
  }

  .movie-poster {
    width: 336px;
    height: 455px;
  }

  .movie-title {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 8px;
  }
  .movie-details {
    color: rgb(255, 107, 8);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
  }

  .vote-average {
    height: 16px;
    width: 36px;
    background-color: rgb(255, 107, 1);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 2px 8px 2px 8px;
    margin-left: 8px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .container#gallery {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    padding-top: 60px;
    padding-left: 32px;
    padding-right: 32px;
    width: 1280px;
  }

  .movie-card-template {
    width: 395px;
    height: auto;
    margin-bottom: 32px;
  }

  .movie-poster {
    width: 395px;
    height: 574px;
  }

  .movie-title {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 12px;
  }

  .movie-details {
    color: rgb(255, 107, 8);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }

  .vote-average {
    height: 20px;
    width: 40px;
    background-color: rgb(255, 107, 1);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 12px 3px 12px;
    margin-left: 8px;
  }
}

/* general */
.movie-poster {
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.movie-image {
  background-color: transparent;
  border: none;
}

.movie-poster:hover,
.movie-poster:focus {
  transform: scale(1.04);
  box-shadow: 4px 4px 12px -2px rgba(66, 68, 90, 1);
}

/* paginacja */

.arrow-icon {
  height: 16px;
  width: 16px;
}

.pagination-pages,
.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination-slider-buttons-container {
  display: flex;
}

.pagination-page-button,
.empty-button {
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  /* display: flex; */
  height: 40px;
  justify-content: center;
  opacity: 100%;
  text-decoration: none;
  width: 40px;
  transition: transform 0.5s ease;
}

.empty-button {
  cursor: auto;
}

.pagination-page-button:hover,
.pagination-page-button:focus,
.pagination-page-button:active {
  background-color: #ff6b08;
  color: #fff;
  transform: scale(1.25);
  box-shadow: 4px 4px 12px -2px rgba(66, 68, 90, 1);
}

.pagination-page-button.left,
.pagination-page-button.right {
  border-radius: 5px;
  background: rgb(247, 247, 247);
}

.pagination-page-button.left:hover,
.pagination-page-button.left:focus,
.pagination-page-button.left:active,
.pagination-page-button.right:hover,
.pagination-page-button.right:focus,
.pagination-page-button.right:active {
  background-color: #ff6b08;
  color: #fff;
  box-shadow: 2px 2px 6px -2px rgba(66, 68, 90, 1);
}

.hidden {
  display: none;
}

.current-page {
  background-color: #ff6b08;
  color: #fff;
  transform: scale(1.25);
  box-shadow: 4px 4px 12px -2px rgba(66, 68, 90, 1);
}

.loader-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.loader-container .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ff6b08;
  border-bottom-color: gray;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: flex;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.hidden {
  display: none;
}
