* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.link {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.data-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------- MOBILE ---------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 940px;
    background-color: rgb(255, 255, 255);
  }

  .backdrop {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    opacity: 0.7;
  }

  .backdrop:hover {
    opacity: 1;
  }

  .backdrop:before,
  .backdrop:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 14px;
    width: 2px;
    background-color: #000;
  }

  .img-posters {
    position: relative;
    transition: 0.4s;
  }

  .trailer-btn {
    position: absolute;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 357px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: #f2936d;
    cursor: pointer;
  }

  .btn_wrapper {
    display: flex;
  }

  .add-to-watched-btn {
    background-color: rgb(255, 107, 1);
    width: 136px;
    height: 44px;
  }

  .add-to-queue-btn {
    background-color: rgb(255, 255, 255);
    width: 136px;
    height: 44px;
  }

  .add-to-watched-btn,
  .add-to-queue-btn {
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
  }
}

/* -------------------------------------------------- TABLET ---------------------------------------------------------*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 704px;
    height: 552px;
    background-color: rgb(255, 255, 255);
  }

  .backdrop {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    opacity: 0.7;
  }

  .backdrop:hover {
    opacity: 1;
  }

  .backdrop:before,
  .backdrop:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 14px;
    width: 2px;
    background-color: #000;
  }

  #movie-card {
    overflow: hidden;
  }

  #content {
    display: flex;
    flex-direction: column;
    max-height: 460px;
    overflow-y: scroll;
    width: 245px;
    margin: 0;
  }

  #content::-webkit-scrollbar {
    width: 5px;
  }

  #left-content,
  #right-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  #right-content {
    padding: 0;
    margin-top: 20px;
    width: 240px;
  }

  .img-posters {
    position: relative;
    transition: 0.4s;
  }

  .trailer-btn {
    position: absolute;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 373.55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: #f2936d;
    cursor: pointer;
  }

  #left-content {
    width: 240px;
    height: 357px;
  }

  .btn_wrapper {
    display: flex;
  }

  .add-to-watched-btn {
    background-color: rgb(255, 107, 1);
    width: 136px;
    height: 44px;
  }

  .add-to-queue-btn {
    background-color: rgb(255, 255, 255);
    width: 136px;
    height: 44px;
  }

  .add-to-watched-btn,
  .add-to-queue-btn {
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
  }
}

/* ------------------------------------------------- DESKTOP ---------------------------------------------------------*/

@media screen and (min-width: 769px) {
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 806px;
    height: 558px;
    background-color: rgb(255, 255, 255);
  }

  .backdrop {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    opacity: 0.7;
  }

  .backdrop:hover {
    opacity: 1;
  }

  .backdrop:before,
  .backdrop:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 14px;
    width: 2px;
    background-color: #000;
  }

  #movie-card {
    height: auto;
    width: auto;
    border-radius: 5px;
  }

  #content {
    display: flex;
    align-items: start;
    width: 100%;
  }

  .left-descr-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
    margin-bottom: 8px;
  }

  .img-posters {
    position: relative;
    transition: 0.4s;
  }

  .trailer-btn {
    position: absolute;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 478px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    color: #f2936d;
    cursor: pointer;
  }

  .left-descr-content:last-child {
    margin-bottom: 0;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  span {
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  #left-content {
    height: auto;
  }

  #right-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    max-width: 50%;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin-right: 12px;
    margin-left: 16px;
  }

  #film-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  #description {
    margin-bottom: 20px;
  }

  #votes,
  #popul,
  #origTitle,
  #genre {
    color: black;
  }

  #about {
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  .btn_wrapper {
    display: flex;
  }

  .add-to-watched-btn {
    background-color: rgb(255, 107, 1);
    width: 136px;
    height: 44px;
  }

  .add-to-queue-btn {
    background-color: rgb(255, 255, 255);
    width: 136px;
    height: 44px;
  }

  .add-to-watched-btn,
  .add-to-queue-btn {
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
  }
}
