/* mobile */
@media (max-width: 768px) {
    .home-header-container {
        height: 230px;
        background-image: url(../images/header-images/background-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 72dpi),
    (min-resolution: 2dppx) {
        .home-header-container {
            background-image: url(../images/header-images/background-mobile@2x.jpg);
        }
    }

    .home-header-nav {
        padding: 42px 20px 56px 22px;
        min-width: 320px;
    }

    .home-header-logo-link {
        text-align: center;
    }

    .home-header-logo-par {
        display: none;
    }

    .search-input {
        width: 280px;
        height: 20px;
    }

    .errorDisplay {
        padding: 0 20px 0 20px;
        text-align: left;
    }

    .errorDisplay-wrapper {
        display: flex;
        justify-content: center;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1280px) {
    .home-header-container {
        height: 216px;
        background-image: url(../images/header-images/background-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 72dpi),
    (min-resolution: 2dppx) {
        .home-header-container {
            background-image: url(../images/header-images/background-tablet@2x.jpg);
        }
    }

    .search-input {
        width: 336px;
        height: 20px;
    }

    .errorDisplay {
        padding: 0 20px 0 20px;
        text-align: center;
        }
}

/* desktop */
@media (min-width: 1280px) {
    .home-header-container {
        height: 216px;
        background-image: url(../images/header-images/background-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 72dpi),
    (min-resolution: 2dppx) {
        .home-header-container {
            background-image: url(../images/header-images/background-desktop@2x.jpg);
        }
    }

    .search-input {
        width: 394px;
        height: 20px;
    }

    .errorDisplay {
        padding: 0 20px 0 20px;
        text-align: center;
        }
}

/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-header-navlist-link {
    text-decoration: none;
}

.home-header-navlist {
    list-style: none;
    gap: 40px;
}

.home-header-logo-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0%;
    justify-content: space-between;
}

.home-header-navlist {
    display: flex;
}

.home-header-navlist-link {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.home-header-nav {
    padding: 40px 32px 40px 31px;
}

.home-header-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 0 8px 0 20px;
}

.search-input {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    background-color: transparent;
}

.errorDisplay {
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(255, 0, 27);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
}

.submit-btn {
    background-color: transparent;
    border: none;
    position: relative;
    right: 12px;
    bottom: 2px;
    cursor: pointer;
    z-index: 1;
}

.hidden {
    opacity: 0;
}

.bar-transition {
        position: relative;
        display: inline-block;
        }
    
.bar-transition:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        width: 100%;
        background-color: rgb(255, 0, 27);;
}